.home-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 5px;
}
.warp{
    width: 700px;
    height: 650px;
    float: left;   
    padding: 5px;
}
.map-container{
    width: 80%;
    height: 650px;
    float: left;   
    padding: 5px;
}

.coordinate-container{
    width: 20%; 
    padding: 5px; 
    display: flex;
    flex-direction: column;
}

.coordinates-wrapper label {
    margin-bottom: 5px;
  }
  
.coordinates-wrapper input {
    margin-bottom: 10px;
    width: 100%; 
}
